<!doctype html>
<html ng-app="caesarApp" ng-cloak>
    <head>
        <meta charset="UTF-8">
        <title>Caesar Interpreter</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="js/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
    </head>
    <body>
        <div class="container" ng-controller="MainController">
            <textarea class="input" rows="5" ng-model="input" ng-change="output = encrypt(input)"></textarea>
            <textarea class="output" rows="5" ng-model="output" ng-change="input = decrypt(output)"></textarea>
            <h2 class="radio-left">Caesar Encryption</h2>
            <div id="radio-right">
                <input type="range" min="0" max="{{characters-1}}" ng-model="crypticValue" class="slider" id="crypt-range" ng-change="updateValue()" /><p class="slider-text">Encryption: {{crypticValue}}</p>
            </div>
            <form>
                English: <input type="radio" name="language" ng-model="english" value="true" ng-change="activateEnglish()" />
                Svenska: <input type="radio" name="language" ng-model="swedish" value="true" ng-change="activateSwedish()" />
            </form>
        </div>

        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
