[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    margin: 10px;
    padding: 5px;
    display: grid;
    grid-template-areas: 
    "radio-left"
    "radio-right"
    "input"
    "output"; 
    grid-row-gap: 15px;
}

textarea {
    padding: 5px;
    font-size: 18px;
    resize: none;
}

.input {
    grid-area: input;
}

.output {
    grid-area: output;
}

.radio-left {
    grid-area: radio-left;
}

.radio-right {
    grid-area: radio-right;
    display: flex;
    flex-direction: row;
}

form {
    font-size: 28px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    padding: 10px;
    width: 40%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline-flex;
}

.slider-text {
    position: relative;
    display: inline-flex;
    top: -12px;
    padding: 5px 8px;
    background-color: #d3d3d3;
    border-radius: 5px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

@media (min-width: 990px) {
    h2 {
        font-size: 24px;
    }

    textarea {
        font-size: 18px;
    }

    form {
        font-size: 18px;
    }

    .container {
        grid-template-areas:
        "radio-left radio-right"
        "input output";
        grid-column-gap: 10px;
        grid-row-gap: 0;
    }
}
